%h1 Listing directions

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @directions.each do |direction|
      %tr
        %td= direction.name
        %td= link_to 'Show', direction
        %td= link_to 'Edit', edit_direction_path(direction)
        %td= link_to 'Destroy', direction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Direction', new_direction_path
