%h1 Listing streams
.table-responsive

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Grade
        %th
        %th
        %th= link_to "Back" , grade_streams_path(params[:grade_id]), class: "btn-primary btn"

    %tbody
      - @streams.each do |stream|
        %tr
          %td= stream.name
          %td= stream.grade.name
          %td= link_to 'Show', stream,class: "btn btn-primary "
          %td= link_to 'Edit', edit_stream_path(stream),class: "btn btn-primary "
          %td= link_to 'Destroy', stream, :method => :delete, :data => { :confirm => 'Are you sure?' },class: "btn btn-primary "

%br


