%h1 Listing parents

= link_to 'New Parent', new_parent_path,class: "btn btn-primary"
%ol.list-group
  - @parents.each do |parent|
    %li.list-group-item.clearfix[parent]
      %h3.pull-right
        %small.text-uppercase Joined
        = l parent.created_at.to_date
      %h2.h3
        = parent.name
        = parent.surname
        / %small= customer.username
      %h4= parent.phone_number
      - if current_user.admin? || current_user.management? 
        =  link_to 'Show Kids', parent_students_path(parent),class: "btn btn-primary"
        = link_to 'New Student' , new_parent_student_path(parent) , class: "btn btn-primary"
        = link_to 'Edit', edit_parent_path(parent),class: "btn btn-primary"
      
        =  link_to 'Destroy', parent, :method => :delete, :data => { :confirm => 'Are you sure?' },class: "btn btn-primary"
      - if current_user.administration?
        =  link_to 'Show Kids', parent_students_path(parent),class: "btn btn-primary"
        
