%h1 Listing parents


.table-responsive

  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Name
        %th Surname
        %th   
        %th
        %th
        %th
        %th= link_to 'New Parent', new_parent_path,class: "btn btn-primary"


    %tbody
      - @parents.each do |parent|
        %tr[parent]
          %td= parent.id
          %td= parent.name
          %td= parent.surname
          
          - if current_user.admin? || current_user.management? 
            %td=  link_to 'Show Kids', parent_students_path(parent),class: "btn btn-primary"
            
            %td= link_to 'Edit', edit_parent_path(parent),class: "btn btn-primary"
          
            %td=  link_to 'Destroy', parent, :method => :delete, :data => { :confirm => 'Are you sure?' },class: "btn btn-primary"
          - if current_user.administration?
            %td=  link_to 'Show Kids', parent_students_path(parent),class: "btn btn-primary"