
%h1.sub-header Listing receipts


.table-responsive

  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Created on
        %th Student Details 
        %th Amount        
        %th
        %th
   



    %tbody
      - @receipts.each do |receipt|
        %tr
          %td= receipt.id
          %td= l receipt.created_at.to_date
          %td= "#{receipt.student.name} \t #{receipt.student.surname}"
          %td= receipt.amount
          
          %td= link_to 'Edit', edit_receipt_path(receipt),class: "btn btn-primary"
          %td= link_to 'Destroy', receipt, :method => :delete, :data => { :confirm => 'Are you sure?' },class: "btn btn-primary"

%br


