%h1 Listing accounts
.table-responsive

  %table.table.table-striped
    %thead
      %tr
        %th Student
        %th Grade
        %th Amount
        %th
        %th
        %th= link_to 'New Account', new_account_path,class: "btn btn-primary"

    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.student.name
          %td= account.grade.name
          %td= account.amount
          
          %td= link_to 'Edit', edit_account_path(account),class: "btn btn-primary"
          %td= link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' },class: "btn btn-primary"

%br


