%p#notice= notice

%p
  %b Student:
  = @account.student.name
%p
  %b Grade:
  = @account.grade.name
%p
  %b Amount:
  = @account.amount

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
